.gridpane-custom {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-hgap: 0;
    -fx-vgap: 0;
}

.gridpane-custom > * {
    -fx-border-color: #002366; /* bleu foncé */
    -fx-border-width: 2;       /* épaisseur */
    -fx-border-style: solid;
}