.root{
	-fx-background-color: #d7ffd8;
}

.chevalet {
	-fx-grid-lines-visible: true;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.gridpane{
    -fx-border-color: black;       /* Couleur du bord */
    -fx-border-width: 5px;         /* Épaisseur du bord */
    -fx-border-style: solid;       /* Style du bord */
    -fx-border-radius: 5px;        /* (Optionnel) coins arrondis */
}